html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Comic Sans MS', 'Chalkboard SE', sans-serif;
  }

#background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('https://img.freepik.com/free-vector/school-classroom-interior-university-educational-concept-blackboard-table_1441-2162.jpg?semt=ais_hybrid&w=740') no-repeat center center/cover;
    z-index: -1;
}

#paperBg {
    background: url('https://img.freepik.com/free-vector/hand-drawn-blue-lined-paper-background_23-2151105456.jpg?t=st=1745773332~exp=1745776932~hmac=a8b3bd90ba743de9b1f48c10006390a5e4c226dfc3e9f1fed89d86f7d273ec46&w=2000') center center/cover no-repeat;
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    min-height: 80vh;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.3);
    border-radius: 4px;
}

header h1 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 2rem;
  }

#questionSec {
    text-align: center;
}

#questionText {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

#answersBtns {
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    gap: 10px;
    margin-left: 20px;
}

#answersBtns button {
    display: block;
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    font-size: 1rem;
    background: #fff;
    border: 1px solid #ccc;
    cursor: pointer;
  }  

#answersBtns button:hover {
    background-color: #e0e0e0;
}

#nav {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

#nav button {
    padding: 10px 15px;
    background: #eee;
    border: 1px solid #bbb;
    cursor: pointer;
}

#nav button:hover {
    background-color: #b97a56;
}

#results {
    margin-top: 30px;
    text-align: center;
    display: none;
}

#grade {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

#missQues {
    margin-bottom: 20px;
}

#results button {
    margin-top: 10px;
    padding: 10px;
    background: #eee;
    border: 1px solid #bbb;
    cursor: pointer;
}

#results button:hover {
    background-color: #4f4954;
}

.selected {
    background-color: #cce5ff;
    font-weight: bold;
  }